.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: blanchedalmond;
  color: #222;
}
.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}
img {
  width: 50%;
  height: auto;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
}
